<mat-card>
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>User Type</mat-label>
      <mat-select [formControl]="profileType">
        <mat-option [value]="0">Candidate</mat-option>
        <mat-option [value]="1">Employer</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="name" required />
    </mat-form-field>

    <section *ngIf="0 === profileType.value">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="candidateDescription" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contact Email</mat-label>
        <input matInput [formControl]="candidateEmail" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Position</mat-label>
        <input matInput [formControl]="candidatePosition" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Salary</mat-label>
        <input matInput [formControl]="candidateSalary" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tech Stack</mat-label>
        <input matInput [formControl]="candidateTechStack" required />
      </mat-form-field>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <!--    Ng If if form is invalid, then button is disabled. But I just skipped form grouping for the sake of saving time-->
    <button (click)="register()" mat-button>Register</button>
  </mat-card-actions>
</mat-card>
